{
  "swagger": "2.0",
  "info": {
    "description": "Veem REST API",
    "version": "0.0.1",
    "title": "Veem API",
    "termsOfService": "API TOS",
    "contact": {
      "name": "Veem",
      "url": "veem.com",
      "email": "dev@veem.com"
    },
    "license": {
      "name": "license",
      "url": "License URL"
    }
  },
  "host": "sandbox-api.veem.com",
  "basePath": "/",
  "schemes": ["https"],
  "securityDefinitions": {
    "oauth": {
      "type": "oauth2",
      "authorizationUrl": "https://sandbox-api.veem.com/oauth/authorize",
      "tokenUrl": "https://sandbox-api.veem.com/oauth/token",
      "flow": "accessCode"
    }
  },
  "security": [
    {"oauth":[]}
  ],
  "tags": [
    {
      "name": "attachment-controller",
      "description": "Attachment Controller"
    },
    {
      "name": "exchange-rate-controller",
      "description": "Exchange Rate APIs"
    },
    {
      "name": "invoice-controller",
      "description": "Invoice Controller"
    },
    {
      "name": "payment-controller",
      "description": "Payment creation and management APIs"
    },
    {
      "name": "meta-controller",
      "description": "Information about the APIs"
    },
    {
      "name": "account-controller",
      "description": "Account management APIs"
    }
  ],
  "paths": {
    "/veem/public/v1.0/country-currency-map": {
      "get": {
        "security": [
        ],
        "tags": [
          "meta-controller"
        ],
        "summary": "Country Currency Map",
        "description": "Returns a list of countries supported and currencies for each",
        "operationId": "getCountryCurrencyMapUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryCurrencyResponse"
              }
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          }
        }
      }
    },
    "/veem/v1.0/accounts/contacts": {
      "post": {
        "tags": [
          "account-controller"
        ],
        "summary": "createContact",
        "description": "create a contact and sends an invitation",
        "operationId": "createContactUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ContactRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a contact is created in Veem",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/accounts/contacts/batch": {
      "post": {
        "tags": [
          "account-controller"
        ],
        "summary": "createContactInBatch",
        "description": "create a contact and sends an invitation",
        "operationId": "createContactUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a contact is created in Veem",
            "schema": {
              "$ref": "#/definitions/ContactResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResponse"
              }
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/attachments": {
      "get": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Downloads the referenced file",
        "operationId": "downloadAttachmentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The file name from the upload response",
            "required": false,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "query",
            "description": "The unique reference ID from the upload response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, the file content is in the response body.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "400": {
            "description": "Invalid name and referenceId combination",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Uploads the external attachment for an entity Payment or Invoice",
        "operationId": "uploadAttachmentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FileAttachment"
            }
          },
          "400": {
            "description": "Unsupported file extension; Unable to upload file",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/exchangerates/quotes": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createQuote",
        "description": "Submits a request to generate an exchange rate quote",
        "operationId": "generateExchangeQuoteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeRateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success, a quote has been created in Veem",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/exchangerates/quotes/batch": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createMultipleQuotes",
        "description": "Submits a request to generate multiple exchange rate quotes",
        "operationId": "generateExchangeQuotesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRateBatchItemRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, all quotes have been have been created in Veem",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseSummary"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/hello": {
      "get": {
        "tags": [
          "meta-controller"
        ],
        "summary": "Hello Test",
        "description": "Simple endpoint to test that your OAuth token is valid",
        "operationId": "helloWorldUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          }
        }
      }
    },
    "/veem/v1.0/invoices": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "createInvoice",
        "description": "posts an invoice and sends to receiver",
        "operationId": "createInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice is created in Veem",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "getInvoice",
        "description": "get invoice details",
        "operationId": "getInvoiceUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}/approve": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "approveInvoice",
        "description": "approve an invoice",
        "operationId": "approveInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}/cancel": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "cancelInvoice",
        "description": "cancel an invoice",
        "operationId": "cancelInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayments",
        "description": "Get payments for this account with filters",
        "operationId": "getPaymentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentIds",
            "in": "query",
            "description": "paymentIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "batchId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchItemIds",
            "in": "query",
            "description": "batchItemIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Drafted",
                "Sent",
                "Claimed",
                "PendingAuth",
                "PendingApproval",
                "Authorized",
                "InProgress",
                "Complete",
                "Cancelled",
                "Closed",
                "Reversed"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "Drafted",
              "Sent",
              "Claimed",
              "PendingAuth",
              "PendingApproval",
              "Authorized",
              "InProgress",
              "Complete",
              "Cancelled",
              "Closed",
              "Reversed"
            ]
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "pageNumber",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 25,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a page of payment objects is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayment",
        "description": "post a payment and sends to receiver",
        "operationId": "createPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment is created in Veem",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/batch": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayments",
        "description": "Create multiple payments in a batch",
        "operationId": "createPaymentsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentBatchItemRequest"
              }
            }
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/payments/batch/{batchId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPaymentBatch",
        "description": "Get the current state of a payment creation batch",
        "operationId": "getPaymentBatchUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "batchId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayment",
        "description": "get payment details",
        "operationId": "getPaymentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}/approve": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "approvePayment",
        "description": "approve a payment",
        "operationId": "approvePaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "cancelPayment",
        "description": "cancel a payment",
        "operationId": "rejectPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    }
  },
  "definitions": {
    "BatchResponse«AsyncBatchItemPaymentResponse»": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "int64"
        },
        "batchItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AsyncBatchItemPaymentResponse"
          }
        },
        "hasErrors": {
          "type": "boolean"
        },
        "processedItems": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "totalItems": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "ContactRequest": {
      "type": "object",
      "required": [
        "countryCode",
        "email",
        "firstName",
        "lastName",
        "type"
      ],
      "properties": {
        "autoRemind": {
          "type": "boolean"
        },
        "businessName": {
          "type": "string",
          "description": "The name of the receiver's business, required when account type is business"
        },
        "countryCode": {
          "type": "string",
          "description": "The 2 letter ISO country codes,ISO Alpha-2",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NT",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PS",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SF",
            "SG",
            "SH",
            "SI",
            "SJ",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SU",
            "SV",
            "SX",
            "SY",
            "SZ",
            "TA",
            "TC",
            "TD",
            "TF",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TP",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "UK",
            "UM",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "XK",
            "YE",
            "YT",
            "YU",
            "ZA",
            "ZM",
            "ZR",
            "ZW"
          ]
        },
        "email": {
          "type": "string",
          "description": "The email of the receiver"
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the receiver"
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the receiver"
        },
        "notifyEvents": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "Viewed",
              "SignedUp",
              "PaymentReady",
              "Closed"
            ]
          }
        },
        "type": {
          "type": "string",
          "description": "The type of the receiver",
          "enum": [
            "Incomplete",
            "Business",
            "Personal"
          ]
        }
      }
    },
    "BatchResponse": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "int64"
        },
        "batchItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AsyncBatchItemResponse"
          }
        },
        "hasErrors": {
          "type": "boolean"
        },
        "processedItems": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "COMPLETED"
          ]
        },
        "totalItems": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FileAttachment": {
      "type": "object",
      "required": [
        "name",
        "referenceId",
        "type"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file (including the extension)"
        },
        "referenceId": {
          "type": "string",
          "description": "The file reference id received from Veem after file upload is complete"
        },
        "type": {
          "type": "string",
          "description": "The type of the file",
          "enum": [
            "ExternalInvoice",
            "ProofOfPayment"
          ]
        }
      }
    },
    "FailureResponse": {
      "type": "object",
      "properties": {
        "batchItemId": {
          "type": "string"
        },
        "errorCode": {
          "type": "string"
        }
      }
    },
    "InvoiceRequest": {
      "type": "object",
      "required": [
        "amount",
        "exchangeRateQuoteId",
        "payer"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "exchangeRate": {
          "$ref": "#/definitions/ExchangeRateResponse"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payer": {
          "description": "The sender of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        }
      }
    },
    "ExchangeRateBatchItemRequest": {
      "type": "object",
      "required": [
        "fromCurrency",
        "toCountry",
        "toCurrency"
      ],
      "properties": {
        "batchItemId": {
          "type": "string"
        },
        "fromAmount": {
          "type": "number",
          "format": "double",
          "description": "The source amount, either `from` or `to` amount is allowed, the other one is calculated"
        },
        "fromCurrency": {
          "type": "string",
          "description": "The source currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        },
        "recipientAccountEmail": {
          "type": "string",
          "description": "The email of recipient to get discounted rate"
        },
        "toAmount": {
          "type": "number",
          "format": "double",
          "description": "The target amount, either `from` or `to` amount is allowed, the other one is calculated"
        },
        "toCountry": {
          "type": "string",
          "description": "The destination country to ensure Veem can support transfer to",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NT",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PS",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SF",
            "SG",
            "SH",
            "SI",
            "SJ",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SU",
            "SV",
            "SX",
            "SY",
            "SZ",
            "TA",
            "TC",
            "TD",
            "TF",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TP",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "UK",
            "UM",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "XK",
            "YE",
            "YT",
            "YU",
            "ZA",
            "ZM",
            "ZR",
            "ZW"
          ]
        },
        "toCurrency": {
          "type": "string",
          "description": "The target currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        }
      }
    },
    "PaymentResponse": {
      "type": "object",
      "required": [
        "amount",
        "batchItemId",
        "exchangeRate",
        "exchangeRateQuoteId",
        "id",
        "payee",
        "status",
        "timeCreated"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "batchItemId": {
          "type": "integer",
          "format": "int64",
          "description": "The payment's batchItemId, as specified in the payment creation batch"
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "claimLink": {
          "type": "string",
          "description": "The link that allows the recipient to claim the payment"
        },
        "exchangeRate": {
          "description": "The exchange rate used associated with the payment",
          "$ref": "#/definitions/ExchangeRateResponse"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The payment id"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payee": {
          "description": "The receiver of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "payeeAmount": {
          "description": "The receiving amount and currency of the payment. Deprecated please use amount instead",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "paymentAction": {
          "type": "string",
          "enum": [
            "SubmitForApproval",
            "Approve"
          ]
        },
        "paymentApproval": {
          "description": "Payment approval information",
          "$ref": "#/definitions/PaymentApprovalResponse"
        },
        "paymentApprovalRequest": {
          "$ref": "#/definitions/PaymentApprovalRequest"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "pushPaymentInfo": {
          "description": "Bank account information for push payment (if required)",
          "$ref": "#/definitions/PushPaymentInfoResponse"
        },
        "status": {
          "type": "string",
          "description": "The status of the payment",
          "enum": [
            "Drafted",
            "Sent",
            "Claimed",
            "PendingAuth",
            "PendingApproval",
            "Authorized",
            "InProgress",
            "Complete",
            "Cancelled",
            "Closed",
            "Reversed"
          ]
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the payment. The format would be UTC, ISO-8601"
        }
      }
    },
    "PaymentBatchItemRequest": {
      "type": "object",
      "required": [
        "amount",
        "batchItemId",
        "exchangeRateQuoteId",
        "payee"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "approveAutomatically": {
          "type": "boolean",
          "example": false,
          "description": "Whether to automatically move the payment from drafted"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "batchItemId": {
          "type": "integer",
          "format": "int64",
          "description": "An unique batch item ID for mapping responses to requests"
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "exchangeRate": {
          "$ref": "#/definitions/ExchangeRateResponse"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payee": {
          "description": "The receiver of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "payeeAmount": {
          "description": "The receiving amount and currency of the payment. Deprecated please use amount instead",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "paymentAction": {
          "type": "string",
          "enum": [
            "SubmitForApproval",
            "Approve"
          ]
        },
        "paymentApprovalRequest": {
          "$ref": "#/definitions/PaymentApprovalRequest"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "status": {
          "type": "string",
          "description": "current payment status",
          "enum": [
            "Drafted",
            "Sent",
            "Claimed",
            "PendingAuth",
            "PendingApproval",
            "Authorized",
            "InProgress",
            "Complete",
            "Cancelled",
            "Closed",
            "Reversed"
          ]
        }
      }
    },
    "CountryCurrencyResponse": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NT",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PS",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SF",
            "SG",
            "SH",
            "SI",
            "SJ",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SU",
            "SV",
            "SX",
            "SY",
            "SZ",
            "TA",
            "TC",
            "TD",
            "TF",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TP",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "UK",
            "UM",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "XK",
            "YE",
            "YT",
            "YU",
            "ZA",
            "ZM",
            "ZR",
            "ZW"
          ]
        },
        "countryName": {
          "type": "string"
        },
        "invoiceAttachmentRequired": {
          "type": "boolean"
        },
        "purposeOfPaymentRequired": {
          "type": "boolean"
        },
        "receivingCurrencies": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNDEFINED",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RUR",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          }
        },
        "sendingCurrencies": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "UNDEFINED",
              "AED",
              "AFN",
              "ALL",
              "AMD",
              "ANG",
              "AOA",
              "ARS",
              "AUD",
              "AWG",
              "AZN",
              "BAM",
              "BBD",
              "BDT",
              "BGN",
              "BHD",
              "BIF",
              "BMD",
              "BND",
              "BOB",
              "BOV",
              "BRL",
              "BSD",
              "BTN",
              "BWP",
              "BYN",
              "BYR",
              "BZD",
              "CAD",
              "CDF",
              "CHE",
              "CHF",
              "CHW",
              "CLF",
              "CLP",
              "CNY",
              "COP",
              "COU",
              "CRC",
              "CUC",
              "CUP",
              "CVE",
              "CZK",
              "DJF",
              "DKK",
              "DOP",
              "DZD",
              "EGP",
              "ERN",
              "ETB",
              "EUR",
              "FJD",
              "FKP",
              "GBP",
              "GEL",
              "GHS",
              "GIP",
              "GMD",
              "GNF",
              "GTQ",
              "GYD",
              "HKD",
              "HNL",
              "HRK",
              "HTG",
              "HUF",
              "IDR",
              "ILS",
              "INR",
              "IQD",
              "IRR",
              "ISK",
              "JMD",
              "JOD",
              "JPY",
              "KES",
              "KGS",
              "KHR",
              "KMF",
              "KPW",
              "KRW",
              "KWD",
              "KYD",
              "KZT",
              "LAK",
              "LBP",
              "LKR",
              "LRD",
              "LSL",
              "LTL",
              "LYD",
              "MAD",
              "MDL",
              "MGA",
              "MKD",
              "MMK",
              "MNT",
              "MOP",
              "MRO",
              "MUR",
              "MVR",
              "MWK",
              "MXN",
              "MXV",
              "MYR",
              "MZN",
              "NAD",
              "NGN",
              "NIO",
              "NOK",
              "NPR",
              "NZD",
              "OMR",
              "PAB",
              "PEN",
              "PGK",
              "PHP",
              "PKR",
              "PLN",
              "PYG",
              "QAR",
              "RON",
              "RSD",
              "RUB",
              "RUR",
              "RWF",
              "SAR",
              "SBD",
              "SCR",
              "SDG",
              "SEK",
              "SGD",
              "SHP",
              "SLL",
              "SOS",
              "SRD",
              "SSP",
              "STD",
              "SVC",
              "SYP",
              "SZL",
              "THB",
              "TJS",
              "TMT",
              "TND",
              "TOP",
              "TRY",
              "TTD",
              "TWD",
              "TZS",
              "UAH",
              "UGX",
              "USD",
              "USN",
              "USS",
              "UYI",
              "UYU",
              "UZS",
              "VEF",
              "VND",
              "VUV",
              "WST",
              "XAF",
              "XAG",
              "XAU",
              "XBA",
              "XBB",
              "XBC",
              "XBD",
              "XCD",
              "XDR",
              "XOF",
              "XPD",
              "XPF",
              "XPT",
              "XSU",
              "XTS",
              "XUA",
              "XXX",
              "YER",
              "ZAR",
              "ZMW",
              "ZWL"
            ]
          }
        }
      }
    },
    "PaymentApprovalRequest": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int64"
        },
        "userId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Sort": {
      "type": "object"
    },
    "UserApprovalInfoResponse": {
      "type": "object",
      "properties": {
        "approvalStatus": {
          "type": "string",
          "enum": [
            "Approved",
            "Pending",
            "Ignored"
          ]
        },
        "email": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "middleName": {
          "type": "string"
        }
      }
    },
    "InvoiceResponse": {
      "type": "object",
      "required": [
        "amount",
        "exchangeRate",
        "exchangeRateQuoteId",
        "id",
        "payer",
        "status",
        "timeCreated"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "claimLink": {
          "type": "string",
          "description": "The link that allows the recipient to perform the payment"
        },
        "exchangeRate": {
          "description": "The exchange rate used associated with the invoice",
          "$ref": "#/definitions/ExchangeRateResponse"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The invoice id"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payer": {
          "description": "The sender of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "status": {
          "type": "string",
          "description": "The status of the invoice",
          "enum": [
            "Drafted",
            "Sent",
            "Cancelled",
            "Closed",
            "Claimed",
            "MarkAsPaid",
            "Rejected"
          ]
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the invoice. The format would be UTC, ISO-8601"
        }
      }
    },
    "SimpleAccount": {
      "type": "object",
      "required": [
        "countryCode",
        "email",
        "firstName",
        "lastName",
        "type"
      ],
      "properties": {
        "businessName": {
          "type": "string",
          "description": "The name of the receiver's business, required when account type is business"
        },
        "countryCode": {
          "type": "string",
          "description": "The 2 letter ISO country codes,ISO Alpha-2",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NT",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PS",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SF",
            "SG",
            "SH",
            "SI",
            "SJ",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SU",
            "SV",
            "SX",
            "SY",
            "SZ",
            "TA",
            "TC",
            "TD",
            "TF",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TP",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "UK",
            "UM",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "XK",
            "YE",
            "YT",
            "YU",
            "ZA",
            "ZM",
            "ZR",
            "ZW"
          ]
        },
        "email": {
          "type": "string",
          "description": "The email of the receiver"
        },
        "firstName": {
          "type": "string",
          "description": "The first name of the receiver"
        },
        "lastName": {
          "type": "string",
          "description": "The last name of the receiver"
        },
        "type": {
          "type": "string",
          "description": "The type of the receiver",
          "enum": [
            "Incomplete",
            "Business",
            "Personal"
          ]
        }
      }
    },
    "ContactResponse": {
      "type": "object"
    },
    "ResponseSummary": {
      "type": "object",
      "properties": {
        "failure": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FailureResponse"
          }
        },
        "success": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      }
    },
    "ExchangeRateResponse": {
      "type": "object",
      "required": [
        "expiry",
        "fromCurrency",
        "id",
        "rate",
        "timeCreated",
        "toAmount",
        "toCurrency"
      ],
      "properties": {
        "expiry": {
          "type": "string",
          "format": "date-time",
          "description": "The expiry time of the current rate quote"
        },
        "fromAmount": {
          "type": "number",
          "format": "double",
          "description": "The source amount, either from or to amount is allowed, the other one is calculated"
        },
        "fromCurrency": {
          "type": "string",
          "description": "The source currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        },
        "id": {
          "type": "string",
          "description": "The quote id"
        },
        "rate": {
          "type": "number",
          "format": "double",
          "description": "The Veem exchange rate for current transfer"
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "The quote generation time"
        },
        "toAmount": {
          "type": "number",
          "format": "double",
          "description": "The target amount, either from or to amount is allowed, the other one is calculated"
        },
        "toCurrency": {
          "type": "string",
          "description": "The target currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        }
      }
    },
    "ErrorResponse": {
      "type": "object",
      "required": [
        "code",
        "error",
        "message"
      ],
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The error code, different than HTTP status codes"
        },
        "error": {
          "type": "string",
          "description": "The short message"
        },
        "message": {
          "type": "string",
          "description": "The detailed, developer friendly message"
        }
      }
    },
    "AsyncBatchItemResponse": {
      "type": "object",
      "properties": {
        "batchItemId": {
          "type": "integer",
          "format": "int64"
        },
        "errorInfo": {
          "type": "string"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED"
          ]
        }
      }
    },
    "AsyncBatchItemPaymentResponse": {
      "type": "object",
      "properties": {
        "batchItemId": {
          "type": "integer",
          "format": "int64"
        },
        "errorInfo": {
          "type": "string"
        },
        "paymentId": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED"
          ]
        }
      }
    },
    "PushPaymentInfoResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "pushPaymentInfo": {
          "type": "string",
          "enum": [
            "AU",
            "GB",
            "MX",
            "PH",
            "EU_COMMON"
          ]
        },
        "reference": {
          "type": "string"
        }
      }
    },
    "PaymentApprovalResponse": {
      "type": "object",
      "properties": {
        "approvalStatus": {
          "type": "string",
          "enum": [
            "Approved",
            "Pending",
            "Ignored"
          ]
        },
        "approverNumber": {
          "type": "integer",
          "format": "int32"
        },
        "approverNumberRequired": {
          "type": "integer",
          "format": "int32"
        },
        "userApprovalList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/UserApprovalInfoResponse"
          }
        }
      }
    },
    "PaymentRequest": {
      "type": "object",
      "required": [
        "amount",
        "exchangeRateQuoteId",
        "payee"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "approveAutomatically": {
          "type": "boolean",
          "example": false,
          "description": "Whether to automatically move the payment from drafted"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "exchangeRate": {
          "$ref": "#/definitions/ExchangeRateResponse"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payee": {
          "description": "The receiver of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "payeeAmount": {
          "description": "The receiving amount and currency of the payment. Deprecated please use amount instead",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "paymentAction": {
          "type": "string",
          "enum": [
            "SubmitForApproval",
            "Approve"
          ]
        },
        "paymentApprovalRequest": {
          "$ref": "#/definitions/PaymentApprovalRequest"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "status": {
          "type": "string",
          "description": "current payment status",
          "enum": [
            "Drafted",
            "Sent",
            "Claimed",
            "PendingAuth",
            "PendingApproval",
            "Authorized",
[...]
