{
  "swagger": "2.0",
  "info": {
    "description": "Veem REST API",
    "version": "0.0.1",
    "title": "Veem API",
    "termsOfService": "API TOS",
    "contact": {
      "name": "Veem",
      "url": "veem.com",
      "email": "dev@veem.com"
    },
    "license": {
      "name": "license",
      "url": "License URL"
    }
  },
  "host": "sandbox-api.veem.com",
  "basePath": "/",
  "schemes": ["https"],
  "securityDefinitions": {
    "oauth": {
      "type": "oauth2",
      "authorizationUrl": "https://sandbox-api.veem.com/oauth/authorize",
      "tokenUrl": "https://sandbox-api.veem.com/oauth/token",
      "flow": "accessCode"
    }
  },
  "security": [
    {"oauth":[]}
  ],
  "tags": [
    {
      "name": "attachment-controller",
      "description": "Attachment Controller"
    },
    {
      "name": "exchange-rate-controller",
      "description": "Exchange Rate Controller"
    },
    {
      "name": "invoice-controller",
      "description": "Invoice Controller"
    },
    {
      "name": "payment-controller",
      "description": "Payment Controller"
    },
    {
      "name": "contact-controller",
      "description": "Contact Controller"
    },
    {
      "name": "customer-controller",
      "description": "Customer Controller"
    },
    {
      "name": "meta-controller",
      "description": "Meta Controller"
    }
  ],
  "paths": {
    "/veem/public/v1.0/country-currency-map": {
      "get": {
        "security": [
        ],
        "tags": [
          "meta-controller"
        ],
        "summary": "Country Currency Map",
        "description": "Returns a list of countries supported and currencies for each",
        "operationId": "getCountryCurrencyMapUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "bankFields",
            "in": "query",
            "description": "bankFields",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CountryCurrencyResponse"
              }
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          }
        }
      }
    },
    "/veem/v1.0/attachments": {
      "get": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Downloads the referenced file",
        "operationId": "downloadAttachmentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The file name from the upload response",
            "required": false,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "query",
            "description": "The unique reference ID from the upload response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "400": {
            "description": "Invalid name and referenceId combination",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Uploads the external attachment for an entity Payment or Invoice",
        "operationId": "uploadAttachmentUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FileAttachment"
            }
          },
          "400": {
            "description": "Unsupported file extension; Unable to upload file",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/contacts": {
      "get": {
        "tags": [
          "contact-controller"
        ],
        "summary": "getContacts",
        "description": "Get a page of account contacts by email address, first,last name, batchId, and business name",
        "operationId": "getContactsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "query",
            "description": "batchId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchItemIds",
            "in": "query",
            "description": "batchItemIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "pageNumber",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, all matching contacts were returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResponse"
              }
            }
          },
          "400": {
            "description": "Request failed, invalid search parameters"
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/contacts/batch": {
      "post": {
        "tags": [
          "contact-controller"
        ],
        "summary": "createContacts",
        "description": "Create multiple contacts in a batch",
        "operationId": "createContactsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactBatchItemRequest"
              }
            }
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/contacts/batch/{batchId}": {
      "get": {
        "tags": [
          "contact-controller"
        ],
        "summary": "getContactBatch",
        "description": "Get the current state of a contact creation batch",
        "operationId": "getContactBatchUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "batchId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/customers": {
      "get": {
        "tags": [
          "customer-controller"
        ],
        "summary": "searchCustomers",
        "description": "Search Veem Contacts",
        "operationId": "searchCustomersUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Veem customers matching the search criteria is returned",
            "schema": {
              "$ref": "#/definitions/PublicAccountResponse"
            }
          },
          "400": {
            "description": "Invalid email address in request parameter",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/exchangerates/quotes": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createQuote",
        "description": "Submits a request to generate an exchange rate quote",
        "operationId": "generateExchangeQuoteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeRateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success, a quote has been created in Veem",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/exchangerates/quotes/batch": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createMultipleQuotes",
        "description": "Submits a request to generate multiple exchange rate quotes",
        "operationId": "generateExchangeQuotesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRateBatchItemRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, all quotes have been have been created in Veem",
            "schema": {
              "$ref": "#/definitions/ResponseSummary"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseSummary"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/hello": {
      "get": {
        "tags": [
          "meta-controller"
        ],
        "summary": "Hello Test",
        "description": "Simple endpoint to test that your OAuth token is valid",
        "operationId": "helloWorldUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          }
        }
      }
    },
    "/veem/v1.0/invoices": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "createInvoice",
        "description": "posts an invoice and sends to receiver",
        "operationId": "createInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice is created in Veem",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "getInvoice",
        "description": "get invoice details",
        "operationId": "getInvoiceUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}/approve": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "approveInvoice",
        "description": "approve an invoice",
        "operationId": "approveInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/invoices/{invoiceId}/cancel": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "cancelInvoice",
        "description": "cancel an invoice",
        "operationId": "cancelInvoiceUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayments",
        "description": "Get payments for this account with filters",
        "operationId": "getPaymentsUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentIds",
            "in": "query",
            "description": "paymentIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "batchId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchItemIds",
            "in": "query",
            "description": "batchItemIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Drafted",
                "Sent",
                "Claimed",
                "PendingAuth",
                "PendingApproval",
                "Authorized",
                "InProgress",
                "Complete",
                "Cancelled",
                "Closed",
                "Reversed"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "Drafted",
              "Sent",
              "Claimed",
              "PendingAuth",
              "PendingApproval",
              "Authorized",
              "InProgress",
              "Complete",
              "Cancelled",
              "Closed",
              "Reversed"
            ]
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "pageNumber",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 25,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a page of payment objects is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayment",
        "description": "post a payment and sends to receiver",
        "operationId": "createPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment is created in Veem",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/batch": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayments",
        "description": "Create multiple payments in a batch",
        "operationId": "createPaymentsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentBatchItemRequest"
              }
            }
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/payments/batch/{batchId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPaymentBatch",
        "description": "Get the current state of a payment creation batch",
        "operationId": "getPaymentBatchUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "batchId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayment",
        "description": "get payment details",
        "operationId": "getPaymentUsingGET",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}/approve": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "approvePayment",
        "description": "approve a payment",
        "operationId": "approvePaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.0/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "cancelPayment",
        "description": "cancel a payment",
        "operationId": "rejectPaymentUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/attachments": {
      "get": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Downloads the referenced file",
        "operationId": "downloadAttachmentUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The file name from the upload response",
            "required": false,
            "type": "string"
          },
          {
            "name": "referenceId",
            "in": "query",
            "description": "The unique reference ID from the upload response",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "400": {
            "description": "Invalid name and referenceId combination",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "attachment-controller"
        ],
        "summary": "Uploads the external attachment for an entity Payment or Invoice",
        "operationId": "uploadAttachmentUsingPOST_1",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/FileAttachment"
            }
          },
          "400": {
            "description": "Unsupported file extension; Unable to upload file",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.1/contacts": {
      "get": {
        "tags": [
          "contact-controller"
        ],
        "summary": "getContacts",
        "description": "Get a page of account contacts by email address, first,last name, batchId, and business name",
        "operationId": "getContactsUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "query",
            "description": "batchId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchItemIds",
            "in": "query",
            "description": "batchItemIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "pageNumber",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, all matching contacts were returned",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactResponse"
              }
            }
          },
          "400": {
            "description": "Request failed, invalid search parameters"
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/contacts/batch": {
      "post": {
        "tags": [
          "contact-controller"
        ],
        "summary": "createContacts",
        "description": "Create multiple contacts in a batch",
        "operationId": "createContactsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContactBatchItemRequest"
              }
            }
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/contacts/batch/{batchId}": {
      "get": {
        "tags": [
          "contact-controller"
        ],
        "summary": "getContactBatch",
        "description": "Get the current state of a contact creation batch",
        "operationId": "getContactBatchUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "batchId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/customers": {
      "get": {
        "tags": [
          "customer-controller"
        ],
        "summary": "searchCustomers",
        "description": "Search Veem Contacts",
        "operationId": "searchCustomersUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "email",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of Veem customers matching the search criteria is returned",
            "schema": {
              "$ref": "#/definitions/PublicAccountResponse"
            }
          },
          "400": {
            "description": "Invalid email address in request parameter",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner lacks permission to operate the current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/exchangerates/quotes": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createQuote",
        "description": "Submits a request to generate an exchange rate quote",
        "operationId": "generateExchangeQuoteUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExchangeRateRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Success, a quote has been created in Veem",
            "schema": {
              "$ref": "#/definitions/ExchangeRateResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/exchangerates/quotes/batch": {
      "post": {
        "tags": [
          "exchange-rate-controller"
        ],
        "summary": "createMultipleQuotes",
        "description": "Submits a request to generate multiple exchange rate quotes",
        "operationId": "generateExchangeQuotesUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ExchangeRateBatchItemRequest"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, all quotes have been have been created in Veem",
            "schema": {
              "$ref": "#/definitions/ResponseSummary"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/ResponseSummary"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/hello": {
      "get": {
        "tags": [
          "meta-controller"
        ],
        "summary": "Hello Test",
        "description": "Simple endpoint to test that your OAuth token is valid",
        "operationId": "helloWorldUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "string"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          }
        }
      }
    },
    "/veem/v1.1/invoices": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "createInvoice",
        "description": "posts an invoice and sends to receiver",
        "operationId": "createInvoiceUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvoiceRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice is created in Veem",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/invoices/{invoiceId}": {
      "get": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "getInvoice",
        "description": "get invoice details",
        "operationId": "getInvoiceUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/invoices/{invoiceId}/approve": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "approveInvoice",
        "description": "approve an invoice",
        "operationId": "approveInvoiceUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/invoices/{invoiceId}/cancel": {
      "post": {
        "tags": [
          "invoice-controller"
        ],
        "summary": "cancelInvoice",
        "description": "cancel an invoice",
        "operationId": "cancelInvoiceUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "invoiceId",
            "in": "path",
            "description": "invoiceId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled invoice object is returned",
            "schema": {
              "$ref": "#/definitions/InvoiceResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/payments": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayments",
        "description": "Get payments for this account with filters",
        "operationId": "getPaymentsUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentIds",
            "in": "query",
            "description": "paymentIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "batchId",
            "in": "query",
            "description": "batchId",
            "required": false,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "batchItemIds",
            "in": "query",
            "description": "batchItemIds",
            "required": false,
            "type": "array",
            "items": {
              "type": "integer",
              "format": "int64"
            },
            "collectionFormat": "multi"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "Drafted",
                "Sent",
                "Claimed",
                "PendingAuth",
                "PendingApproval",
                "Authorized",
                "InProgress",
                "Complete",
                "Cancelled",
                "Closed",
                "Reversed"
              ]
            },
            "collectionFormat": "multi",
            "enum": [
              "Drafted",
              "Sent",
              "Claimed",
              "PendingAuth",
              "PendingApproval",
              "Authorized",
              "InProgress",
              "Complete",
              "Cancelled",
              "Closed",
              "Reversed"
            ]
          },
          {
            "name": "pageNumber",
            "in": "query",
            "description": "pageNumber",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 25,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a page of payment objects is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      },
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayment",
        "description": "post a payment and sends to receiver",
        "operationId": "createPaymentUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "request",
            "description": "request",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PaymentRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment is created in Veem",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/payments/batch": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "createPayments",
        "description": "Create multiple payments in a batch",
        "operationId": "createPaymentsUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "requests",
            "description": "requests",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PaymentBatchItemRequest"
              }
            }
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.1/payments/batch/{batchId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPaymentBatch",
        "description": "Get the current state of a payment creation batch",
        "operationId": "getPaymentBatchUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "batchId",
            "in": "path",
            "description": "batchId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "includeItems",
            "in": "query",
            "description": "includeItems",
            "required": false,
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "Request data validated, processing started",
            "schema": {
              "$ref": "#/definitions/BatchResponse"
            }
          },
          "400": {
            "description": "Invalid request data, no requests were processed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      }
    },
    "/veem/v1.1/payments/{paymentId}": {
      "get": {
        "tags": [
          "payment-controller"
        ],
        "summary": "getPayment",
        "description": "get payment details",
        "operationId": "getPaymentUsingGET_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/payments/{paymentId}/approve": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "approvePayment",
        "description": "approve a payment",
        "operationId": "approvePaymentUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, an approved payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    },
    "/veem/v1.1/payments/{paymentId}/cancel": {
      "post": {
        "tags": [
          "payment-controller"
        ],
        "summary": "cancelPayment",
        "description": "cancel a payment",
        "operationId": "rejectPaymentUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "description": "paymentId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "Success, a cancelled payment object is returned",
            "schema": {
              "$ref": "#/definitions/PaymentResponse"
            }
          },
          "400": {
            "description": "Unauthorized, the token is invalid or expired",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          },
          "401": {
            "description": "Unauthorized, the token is invalid or expired"
          },
          "500": {
            "description": "Internal Server Error, see the error code and API doc for reference"
          },
          "403": {
            "description": "Forbidden, the token owner doesn't have permission to operate current API"
          },
          "404": {
            "description": "Not Found, the resource not found"
          }
        }
      }
    }
  },
  "definitions": {
    "BatchResponse«AsyncBatchItemPaymentResponse»": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "int64"
        },
        "batchItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AsyncBatchItemPaymentResponse"
          }
        },
        "hasErrors": {
          "type": "boolean"
        },
        "processedItems": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "AsyncBatchItemContactResponse": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "integer",
          "format": "int64"
        },
        "batchItemId": {
          "type": "integer",
          "format": "int64"
        },
        "errorInfo": {
          "$ref": "#/definitions/ErrorResponse"
        },
        "status": {
          "type": "string",
          "enum": [
            "IN_PROGRESS",
            "COMPLETED",
            "FAILED"
          ]
        }
      }
    },
    "Page«ContactResponse»": {
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ContactResponse"
          }
        },
        "first": {
          "type": "boolean"
        },
        "last": {
          "type": "boolean"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfElements": {
          "type": "integer",
          "format": "int32"
        },
        "size": {
          "type": "integer",
          "format": "int32"
        },
        "sort": {
          "$ref": "#/definitions/Sort"
        },
        "totalElements": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "BatchResponse": {
      "type": "object",
      "properties": {
        "batchId": {
          "type": "integer",
          "format": "int64"
        },
        "batchItems": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AsyncBatchItemResponse"
          }
        },
        "hasErrors": {
          "type": "boolean"
        },
        "processedItems": {
          "type": "integer",
          "format": "int64"
        },
        "status": {
          "type": "string"
        },
        "totalItems": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "FileAttachment": {
      "type": "object",
      "required": [
        "name",
        "referenceId",
        "type"
      ],
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the file (including the extension)"
        },
        "referenceId": {
          "type": "string",
          "description": "The file reference id received from Veem after file upload is complete"
        },
        "type": {
          "type": "string",
          "description": "The type of the file",
          "enum": [
            "ExternalInvoice",
            "ProofOfPayment"
          ]
        }
      }
    },
    "FailureResponse": {
      "type": "object",
      "properties": {
        "batchItemId": {
          "type": "string"
        },
        "errorCode": {
          "type": "string"
        }
      }
    },
    "InvoiceRequest": {
      "type": "object",
      "required": [
        "amount",
        "exchangeRateQuoteId",
        "payer"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "dueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The due date of the payment or invoice request"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payer": {
          "description": "The sender of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        }
      }
    },
    "ExchangeRateBatchItemRequest": {
      "type": "object",
      "required": [
        "fromCurrency",
        "toCountry",
        "toCurrency"
      ],
      "properties": {
        "batchItemId": {
          "type": "string"
        },
        "fromAmount": {
          "type": "number",
          "format": "double",
          "description": "The source amount, either `from` or `to` amount is allowed, the other one is calculated"
        },
        "fromCurrency": {
          "type": "string",
          "description": "The source currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        },
        "recipientAccountEmail": {
          "type": "string",
          "description": "The email of recipient to get discounted rate"
        },
        "toAmount": {
          "type": "number",
          "format": "double",
          "description": "The target amount, either `from` or `to` amount is allowed, the other one is calculated"
        },
        "toCountry": {
          "type": "string",
          "description": "The destination country to ensure Veem can support transfer to",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
            "NL",
            "NO",
            "NP",
            "NR",
            "NT",
            "NU",
            "NZ",
            "OM",
            "PA",
            "PE",
            "PF",
            "PG",
            "PH",
            "PK",
            "PL",
            "PM",
            "PN",
            "PR",
            "PS",
            "PT",
            "PW",
            "PY",
            "QA",
            "RE",
            "RO",
            "RS",
            "RU",
            "RW",
            "SA",
            "SB",
            "SC",
            "SD",
            "SE",
            "SF",
            "SG",
            "SH",
            "SI",
            "SJ",
            "SK",
            "SL",
            "SM",
            "SN",
            "SO",
            "SR",
            "SS",
            "ST",
            "SU",
            "SV",
            "SX",
            "SY",
            "SZ",
            "TA",
            "TC",
            "TD",
            "TF",
            "TG",
            "TH",
            "TJ",
            "TK",
            "TL",
            "TM",
            "TN",
            "TO",
            "TP",
            "TR",
            "TT",
            "TV",
            "TW",
            "TZ",
            "UA",
            "UG",
            "UK",
            "UM",
            "US",
            "UY",
            "UZ",
            "VA",
            "VC",
            "VE",
            "VG",
            "VI",
            "VN",
            "VU",
            "WF",
            "WS",
            "XK",
            "YE",
            "YT",
            "YU",
            "ZA",
            "ZM",
            "ZR",
            "ZW"
          ]
        },
        "toCurrency": {
          "type": "string",
          "description": "The target currency",
          "enum": [
            "UNDEFINED",
            "AED",
            "AFN",
            "ALL",
            "AMD",
            "ANG",
            "AOA",
            "ARS",
            "AUD",
            "AWG",
            "AZN",
            "BAM",
            "BBD",
            "BDT",
            "BGN",
            "BHD",
            "BIF",
            "BMD",
            "BND",
            "BOB",
            "BOV",
            "BRL",
            "BSD",
            "BTN",
            "BWP",
            "BYN",
            "BYR",
            "BZD",
            "CAD",
            "CDF",
            "CHE",
            "CHF",
            "CHW",
            "CLF",
            "CLP",
            "CNY",
            "COP",
            "COU",
            "CRC",
            "CUC",
            "CUP",
            "CVE",
            "CZK",
            "DJF",
            "DKK",
            "DOP",
            "DZD",
            "EGP",
            "ERN",
            "ETB",
            "EUR",
            "FJD",
            "FKP",
            "GBP",
            "GEL",
            "GHS",
            "GIP",
            "GMD",
            "GNF",
            "GTQ",
            "GYD",
            "HKD",
            "HNL",
            "HRK",
            "HTG",
            "HUF",
            "IDR",
            "ILS",
            "INR",
            "IQD",
            "IRR",
            "ISK",
            "JMD",
            "JOD",
            "JPY",
            "KES",
            "KGS",
            "KHR",
            "KMF",
            "KPW",
            "KRW",
            "KWD",
            "KYD",
            "KZT",
            "LAK",
            "LBP",
            "LKR",
            "LRD",
            "LSL",
            "LTL",
            "LYD",
            "MAD",
            "MDL",
            "MGA",
            "MKD",
            "MMK",
            "MNT",
            "MOP",
            "MRO",
            "MUR",
            "MVR",
            "MWK",
            "MXN",
            "MXV",
            "MYR",
            "MZN",
            "NAD",
            "NGN",
            "NIO",
            "NOK",
            "NPR",
            "NZD",
            "OMR",
            "PAB",
            "PEN",
            "PGK",
            "PHP",
            "PKR",
            "PLN",
            "PYG",
            "QAR",
            "RON",
            "RSD",
            "RUB",
            "RUR",
            "RWF",
            "SAR",
            "SBD",
            "SCR",
            "SDG",
            "SEK",
            "SGD",
            "SHP",
            "SLL",
            "SOS",
            "SRD",
            "SSP",
            "STD",
            "SVC",
            "SYP",
            "SZL",
            "THB",
            "TJS",
            "TMT",
            "TND",
            "TOP",
            "TRY",
            "TTD",
            "TWD",
            "TZS",
            "UAH",
            "UGX",
            "USD",
            "USN",
            "USS",
            "UYI",
            "UYU",
            "UZS",
            "VEF",
            "VND",
            "VUV",
            "WST",
            "XAF",
            "XAG",
            "XAU",
            "XBA",
            "XBB",
            "XBC",
            "XBD",
            "XCD",
            "XDR",
            "XOF",
            "XPD",
            "XPF",
            "XPT",
            "XSU",
            "XTS",
            "XUA",
            "XXX",
            "YER",
            "ZAR",
            "ZMW",
            "ZWL"
          ]
        }
      }
    },
    "Page«PublicAccountResponse»": {
      "type": "object",
      "properties": {
        "content": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PublicAccountResponse"
          }
        },
        "first": {
          "type": "boolean"
        },
        "last": {
          "type": "boolean"
        },
        "number": {
          "type": "integer",
          "format": "int32"
        },
        "numberOfElements": {
          "type": "integer",
          "format": "int32"
        },
        "size": {
          "type": "integer",
          "format": "int32"
        },
        "sort": {
          "$ref": "#/definitions/Sort"
        },
        "totalElements": {
          "type": "integer",
          "format": "int64"
        },
        "totalPages": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "PaymentResponse": {
      "type": "object",
      "required": [
        "amount",
        "batchItemId",
        "exchangeRateQuoteId",
        "id",
        "payee",
        "status",
        "timeCreated"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "batchItemId": {
          "type": "integer",
          "format": "int64",
          "description": "The payment's batchItemId, as specified in the payment creation batch"
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "claimLink": {
          "type": "string",
          "description": "The link that allows the recipient to claim the payment"
        },
        "dueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The due date of the payment or invoice request"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "id": {
          "type": "integer",
          "format": "int64",
          "description": "The payment id"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payee": {
          "description": "The receiver of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "payeeAmount": {
          "description": "The receiving amount and currency of the payment. Deprecated please use amount instead",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "paymentAction": {
          "type": "string",
          "enum": [
            "SubmitForApproval",
            "Approve"
          ]
        },
        "paymentApproval": {
          "description": "Payment approval information",
          "$ref": "#/definitions/PaymentApprovalResponse"
        },
        "paymentApprovalRequest": {
          "$ref": "#/definitions/PaymentApprovalRequest"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "pushPaymentInfo": {
          "description": "Bank account information for push payment (if required)",
          "$ref": "#/definitions/PushPaymentInfoResponse"
        },
        "status": {
          "type": "string",
          "description": "The status of the payment",
          "enum": [
            "Drafted",
            "Sent",
            "Claimed",
            "PendingAuth",
            "PendingApproval",
            "Authorized",
            "InProgress",
            "Complete",
            "Cancelled",
            "Closed",
            "Reversed"
          ]
        },
        "timeCreated": {
          "type": "string",
          "format": "date-time",
          "description": "The creation time of the payment. The format would be UTC, ISO-8601"
        }
      }
    },
    "PaymentBatchItemRequest": {
      "type": "object",
      "required": [
        "amount",
        "batchItemId",
        "collectionId",
        "exchangeRateQuoteId",
        "payee"
      ],
      "properties": {
        "amount": {
          "description": "The amount and currency of the payment",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "approveAutomatically": {
          "type": "boolean",
          "example": false,
          "description": "Whether to automatically move the payment from drafted"
        },
        "attachments": {
          "type": "array",
          "description": "The list of external invoices to be attached with payment. The files can be uploaded usingfile upload apis",
          "items": {
            "$ref": "#/definitions/FileAttachment"
          }
        },
        "batchItemId": {
          "type": "integer",
          "format": "int64",
          "description": "An unique batch item ID for mapping responses to requests"
        },
        "ccEmails": {
          "type": "array",
          "description": "The list of emails who will be notified about the payment",
          "items": {
            "type": "string"
          }
        },
        "dueDate": {
          "type": "string",
          "format": "date-time",
          "description": "The due date of the payment or invoice request"
        },
        "exchangeRateQuoteId": {
          "type": "string",
          "description": "The quote id that was received earlier for the payment"
        },
        "externalInvoiceRefId": {
          "type": "string",
          "description": "The external invoice if for which payment is made, viewable by receiver"
        },
        "notes": {
          "type": "string",
          "description": "The memo/note associated with payment, viewable by receiver"
        },
        "payee": {
          "description": "The receiver of the payment",
          "$ref": "#/definitions/SimpleAccount"
        },
        "payeeAmount": {
          "description": "The receiving amount and currency of the payment. Deprecated please use amount instead",
          "$ref": "#/definitions/AlignMonetaryAmount"
        },
        "paymentAction": {
          "type": "string",
          "enum": [
            "SubmitForApproval",
            "Approve"
          ]
        },
        "paymentApprovalRequest": {
          "$ref": "#/definitions/PaymentApprovalRequest"
        },
        "purposeOfPayment": {
          "type": "string",
          "description": "The purpose of payment required by banks for certain countries, applicable for following countries.SG,AE,KR,BR,CN,HK,HR,IS,ID,IN,IL,KE,PK,SA,ZA,TW,UA,VN",
          "enum": [
            "Goods",
            "Services",
            "Charitable",
            "Other"
          ]
        },
        "status": {
          "type": "string",
          "description": "current payment status",
          "enum": [
            "Drafted",
            "Sent",
            "Claimed",
            "PendingAuth",
            "PendingApproval",
            "Authorized",
            "InProgress",
            "Complete",
            "Cancelled",
            "Closed",
            "Reversed"
          ]
        },
        "collectionId": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "CountryCurrencyResponse": {
      "type": "object",
      "properties": {
        "bankFields": {
          "$ref": "#/definitions/JSONArray"
        },
        "country": {
          "type": "string",
          "enum": [
            "UNDEFINED",
            "AC",
            "AD",
            "AE",
            "AF",
            "AG",
            "AI",
            "AL",
            "AM",
            "AN",
            "AO",
            "AQ",
            "AR",
            "AS",
            "AT",
            "AU",
            "AW",
            "AX",
            "AZ",
            "BA",
            "BB",
            "BD",
            "BE",
            "BF",
            "BG",
            "BH",
            "BI",
            "BJ",
            "BL",
            "BM",
            "BN",
            "BO",
            "BQ",
            "BR",
            "BS",
            "BT",
            "BU",
            "BV",
            "BW",
            "BY",
            "BZ",
            "CA",
            "CC",
            "CD",
            "CF",
            "CG",
            "CH",
            "CI",
            "CK",
            "CL",
            "CM",
            "CN",
            "CO",
            "CP",
            "CR",
            "CS",
            "CU",
            "CV",
            "CW",
            "CX",
            "CY",
            "CZ",
            "DE",
            "DG",
            "DJ",
            "DK",
            "DM",
            "DO",
            "DZ",
            "EA",
            "EC",
            "EE",
            "EG",
            "EH",
            "ER",
            "ES",
            "ET",
            "EU",
            "FI",
            "FJ",
            "FK",
            "FM",
            "FO",
            "FR",
            "FX",
            "GA",
            "GB",
            "GD",
            "GE",
            "GF",
            "GG",
            "GH",
            "GI",
            "GL",
            "GM",
            "GN",
            "GP",
            "GQ",
            "GR",
            "GS",
            "GT",
            "GU",
            "GW",
            "GY",
            "HK",
            "HM",
            "HN",
            "HR",
            "HT",
            "HU",
            "IC",
            "ID",
            "IE",
            "IL",
            "IM",
            "IN",
            "IO",
            "IQ",
            "IR",
            "IS",
            "IT",
            "JE",
            "JM",
            "JO",
            "JP",
            "KE",
            "KG",
            "KH",
            "KI",
            "KM",
            "KN",
            "KP",
            "KR",
            "KW",
            "KY",
            "KZ",
            "LA",
            "LB",
            "LC",
            "LI",
            "LK",
            "LR",
            "LS",
            "LT",
            "LU",
            "LV",
            "LY",
            "MA",
            "MC",
            "MD",
            "ME",
            "MF",
            "MG",
            "MH",
            "MK",
            "ML",
            "MM",
            "MN",
            "MO",
            "MP",
            "MQ",
            "MR",
            "MS",
            "MT",
            "MU",
            "MV",
            "MW",
            "MX",
            "MY",
            "MZ",
            "NA",
            "NC",
            "NE",
            "NF",
            "NG",
            "NI",
[...]
